<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishna Clinic</title>
    <link rel="shortcut icon" href="static/images/medicine.png" type="image/x-icon">
</head>
<body>
   
    {% include "inc/header.html" %}

    <main>
        <h1>Welcome to our hospital</h1>
        
    </main>
   {% include "inc/footer.html" %}

</body>
</html>
