<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fas fa-film mr-2"></i>
                Catalog-Z
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" aria-current="page" href="/">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    {% if sessio %}
                    <a class="nav-link nav-link-4" href="/logout/">Logout</a>
                    {% else %}
                    <a class="nav-link nav-link-4" href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <form method="post">  
        {% csrf_token %}     
        <div class="container">
            <h1>Signup</h1>
            <div class="user">
                <i class="fa fa-user"></i>
            </div>
            <input type="text" class="inpu" name="name" placeholder="NAME" required="1">
            <input type="tel" name="phone" placeholder="phone number" required="1">
            <input type="Email" class="sel" name="email" placeholder="Email" style="width: 90%;" required="1">
            <input type="password" class="inpu" name="password" class="sel" placeholder="Password" required="1">
            <input type="password" class="inpu" name="cpassword" placeholder="conform Password" required="1">
            <b><p style="color: red;">{{mass}}</p></b>
            <input class="sel" type="submit" value="Signup">

                <div class="remember">   
            </div>
        </div>
        
        <center>
            <div class="containe">
                <a href="/login/" class="forgot"><b>Login</b></a>
            </div>
        </center>
        
        
        </form>
        

</body>
</html>